<!DOCTYPE html>
<html>
  <head>
    <title>Splendid Food</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>

        <!-- When the user clicks the cart icon, toggle the sidebar -->
        <a @click="toggleSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({{ totalQuantity }})</span>
        </a>

      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Splendid Food</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <!-- Only show the first 3 items to be recommended -->  
        <div class="recommended">
          <!-- Use the v-for directive to loop through the inventory object -->
          <div v-for="(product, i) in inventory.slice(0,3)" :key="i" class="card">
            <div class="card-title">
              {{ product.name }}
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-{{ product.icon }}"></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>{{ product.type }}</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    ${{ product.price.USD }}
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <!-- Use the v-model.number directive to make sure the value is a number -->
                    <!-- Though the quantity is not currently existing in the data object, it will be added as needed -->
                    <input type="number" v-model.number="product.quantity">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <!-- Use the addToCart method to add the item to the cart -->
              <button @click="addToCart(i)" class="btn btn-light">
                Add to cart
              </button>
            </div>
          </div>

        </div>

      </main>

      <!-- Use showSidebar to toggle the sidebar -->
      <!-- Please note that we also want to toggle the sidebar from its child component, so passing the toggleSidebar method as a prop is necessary -->
      <sidebar
        v-if="showSidebar"
        :toggle="toggleSidebar"
        :inventory="inventory"
        :cart="cart"
        :remove="removeItem"
      ></sidebar>

      <footer>
      </footer>

    </div>

    <!-- You should include the latest version of Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Your VUE code goes here -->
    <script src="./app.js"></script>
  </body>
</html>
