<!DOCTYPE html>
<html>
  <head>
    <title>Past Orders</title>
    <link rel="stylesheet" href="../styles/style.min.css">
  </head>
  <body>
    <div id="app">
      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="./app.html" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="./products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="./past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a @click="toggleSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({{ totalQuantity }})</span>
        </a>
      </header>
      <main class="wrapper">
        <h1>Past Orders</h1>

        <table class="product-table">
          <thead>
            <tr>
              <td><span class="sr-only">Product Image</span></td>
              <td>Product</td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Total</td>
              <td><span class="sr-only">Actions</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="icofont-carrot icofont-4x"></td>
              <td>Carrot</td>
              <td>$1.00</td>
              <td>1</td>
              <td>$1.00</td>
              <td><button class="btn btn-dark">Add</button></td>
            </tr>
            <tr>
              <td><i class="icofont-banana icofont-4x"></td>
              <td>Banana</td>
              <td>$0.50</td>
              <td>10</td>
              <td>$5.00</td>
              <td><button class="btn btn-dark">Add</button></td>
            </tr>
          </tbody>
        </table>
      </main>
      <sidebar
        v-if="showSidebar"
        :toggle="toggleSidebar"
        :inventory="inventory"
        :cart="cart"
        :remove="removeItem"
      ></sidebar>
    </div>
    <!-- You should include the latest version of Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Your VUE code goes here -->
    <script src="../app.js"></script>
  </body>
</html>
