<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" href="../styles/style.min.css">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="./app.html" class="top-bar-link" @click="saveCart">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="./products.html" class="top-bar-link" @click="saveCart">
            <span>Products</span>
          </a>
          <a href="./past-orders.html" class="top-bar-link" @click="saveCart">
            <span>Past Orders</span>
          </a>
        </nav>

        <!-- When the user clicks the cart icon, toggle the sidebar -->
        <a @click="toggleSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({{ totalQuantity }})</span>
        </a>

      </header>

      <main class="wrapper">
        <h1>Products</h1>

        <div class="card-container">
          <product_card
            v-for="(product, index) in inventory"
            :key="index"
            class="card"
            :index="index"
            :product="product"
            :add="addToCart"
          ></product_card>
        </div>
      </main>

      <!-- Use showSidebar to toggle the sidebar -->
      <!-- Please note that we also want to toggle the sidebar from its child component, so passing the toggleSidebar method as a prop is necessary -->
      <sidebar
        v-if="showSidebar"
        :toggle="toggleSidebar"
        :inventory="inventory"
        :cart="cart"
        :remove="removeItem"
      ></sidebar>

    </div>

    <!-- You should include the latest version of Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Your VUE code goes here -->
    <script src="../app.js"></script>

  </body>
</html>
