<!DOCTYPE html>
<html>
  <head>
    <title>Splendid Food</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>

        <!-- When the user clicks the cart icon, toggle the sidebar -->
        <a @click="toggleSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart (0)</span>
        </a>

      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Splendid Food</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <!-- Only show the first 3 items to be recommended -->  
        <div class="recommended">
          <!-- Use the v-for directive to loop through the inventory object -->
          <div v-for="(product, i) in inventory.slice(0,3)" :key="i" class="card">
            <div class="card-title">
              {{ product.name }}
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-{{ product.icon }}"></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>{{ product.type }}</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    ${{ product.price.USD }}
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <!-- Use the v-model.number directive to make sure the value is a number -->
                    <!-- Though the quantity is not currently existing in the data object, it will be added as needed -->
                    <input type="number" v-model.number="product.quantity">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <!-- Use the addToCart method to add the item to the cart -->
              <button @click="addToCart(i)" class="btn btn-light">
                Add to cart
              </button>
            </div>
          </div>

        </div>

      </main>

      <!-- Use showSidebar to toggle the sidebar -->
      <!-- Please note that we also want to toggle the sidebar from its child component, so passing the toggleSidebar method as a prop is necessary -->
      <sidebar
        v-if="showSidebar"
        :toggle="toggleSidebar"
        :cart="cart"
        :prices="prices"
      ></sidebar>

      <footer>
      </footer>

    </div>

    <!-- You should include the latest version of Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Your VUE code goes here -->
    <script>
      let app = Vue.createApp({
        data() {
          return {
            showSidebar: false,

            // This inventory object will be populated with the data from the food.json file
            inventory: []
          }
        },
        methods: {
          // Add the quantity of a product to the cart
          addToCart(index) {
            // Add the cart property to the inventory object if it doesn't exist
            if (!this.inventory[index].cart) {
              this.inventory[index].cart = 0
            }

            // Add whatever is in the inventory to the cart, based on the type
            this.inventory[index].cart += this.inventory[index].quantity

            // Reset the inventory to 0
            this.inventory[index].quantity = 0

            console.log(this.inventory[index])
          },

          // Toggle the sidebar
          toggleSidebar() {
            this.showSidebar = !this.showSidebar
          }
        },

        // This is a lifecycle hook that will be called when the component is mounted.
        // The async keywork will make the mounted method return a promise, and the await keyword is used to pause the function execution until the promise is resolved.
        // A `promise` is used to represents a value that may not be available yet but will be resolved at some point in the future.
        async mounted() {
          const rsp = await fetch('./food.json')
          const data = await rsp.json()
          this.inventory = data
        }
      })

      app.component('sidebar',{
        // "toggle" is the function that will be called when the user clicks on the close button
        props: ['toggle', 'cart', 'prices'],
        computed: {
          cartTotal() {
            // Calculate the total price of the cart
            return this.cart.carrots * this.prices.carrots + this.cart.pineapples * this.prices.pineapples + this.cart.cherries * this.prices.cherries
          }
        },
        template: `
          <aside class="cart-container">
          <div class="cart">
            <h1 class="cart-title spread">
              <span>
                Cart
                <i class="icofont-cart-alt icofont-1x"></i>
              </span>
              <!-- Use the toggle method to close the sidebar -->
              <button @click="toggle" class="cart-close">&times;</button>
            </h1>

            <div class="cart-body">
              <table class="cart-table">
                <thead>
                  <tr>
                    <th><span class="sr-only">Product Image</span></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th><span class="sr-only">Actions</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><i class="icofont-carrot icofont-3x"></i></td>
                    <td>Carrot</td>
                    <td>$1.00</td>
                    <td class="center">{{ cart.carrots }}</td>
                    <td>$1.00</td>
                    <td class="center">
                      <button class="btn btn-light cart-remove">
                        &times;
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <p class="center"><em>No items in cart</em></p>
              <div class="spread">
                <!-- Remember to use the $ sign to display the total price -->
                <span><strong>Total:</strong> \${{ cartTotal }} </span>
                <button class="btn btn-light">Checkout</button>
              </div>
            </div>
          </div>
        </aside>
        `
      })

      // Always remember to mount your app
      app.mount('#app')
    </script>
  </body>
</html>
